    <!-- Page Content -->
    <div class="container">
    <div id="head-spacer"></div>
        <div class="row">
            <div class="col-4">
            <img class="img-small" src="<%= movie.poster %>">
            </div>
            <div class="col-8 movie-title">
                <div class="row">
                    <div class="col-12 movie-data"><div id="movie-detail-title"><%= movie.name %></div></div>
                </div>
                <div class="row space-top">
                    <div class="col-6 movie-data">
                        <%= movie.year %> |
                        <%= movie.movie_db.original_language %>
                    </div>
                </div>
                <div class="row space-top space-bottom">
                    <div class="col-6 movie-data">
                        <%= movie.movie_db.vote_average %> <i class="fas fa-star"></i></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="playButton" data-id="<%= movie.movieId %> " type="button" class="btn btn-outline-success play-movie"><i class="fas fa-play"></i>&nbsp;Play Movie</button>
                    </div>
                    <div class="col-6">
                        <button id="watchlistButton" value="<%= movie.watchlist %>" data-id="<%= movie.movieId %> " type="button" class="btn btn-outline-primary play-movie">
                        <% if(movie.watchlist == 1){ %>
                            <i class="fas fa-check"></i>&nbsp;Watchlist
                        <% } else{ %> 
                            <i class="fas fa-bookmark"></i>&nbsp;Watchlist
                        <% } %>
                        </button>
                    </div>
                </div>
            </div>
            <div class="movie-data-overview">
                <%= movie.movie_db.overview %>
            </div>
        </div>
    </div>

    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script>
        $("#playButton").click(function() {
            let movieId = $("#playButton").attr("data-id");
            eventPlayMovie(movieId); //we will send the movieId to the player
        });

        $("#watchlistButton").click(function() {
            let flag = $(this).attr("value");
            let movieId = $("#watchlistButton").attr("data-id");
            if(flag == 1){
                $(this).attr("value",0);
                $('#watchlistButton').html("<i class='fas fa-bookmark'></i>&nbsp;Watchlist");
                eventToggleWatchlist(movieId,0); 
            } else {
                $(this).attr("value",1);
                $('#watchlistButton').html("<i class='fas fa-check'></i>&nbsp;Watchlist");
                eventToggleWatchlist(movieId,1); 
            }
            
        });
    </script>

</body>

</html>